<div class="col-md-6 offset-md-3">
    <h3> Create Achat </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Date</label>
            <input type="text" class ="form-control" id = "date"
                [(ngModel)] = "achate.date" name = "date">
        </div>

        <div class="form-group">
            <label> Client</label>
            <select class="form-control" [(ngModel)]="achate.fournisseure" name="fournisseure">
                <option *ngFor="let item of frs" [ngValue]="item">{{item.nom}}</option>
            </select>
        </div>
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 