<h2> Vente List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>  Date</th>
            <th>  Client</th>
            <th>  Produit</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let ventee of ventees" >
            <td> {{ ventee.date }} </td>
            <td> {{ ventee.client.nom }} </td>
            <td> {{ ventee.produite.name }} </td>
            <td>
                <button (click) = "updateVentee(ventee.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteVentee(ventee.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "venteeDetails(ventee.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
