<h2> Produit List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> Nom du Produit</th>
            <th>Quantité </th>
            <th> Prix</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let produit of produits" >
            <td> {{ produit.Name }} </td>
            <td> {{ produit.Qte }} </td>
            <td> {{ produit.Prix }} </td>
            <td>
                <button (click) = "updateProduit(produit.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteProduit(produit.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "produitDetails(produit.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
