<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <li class = "nav-item">
            <a routerLink="produites" routerLinkActive="active" class="nav-link" >Produit List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-produite" routerLinkActive="active" class="nav-link" >Add Produit</a>
        </li>
        <li class = "nav-item">
            <a routerLink="stockes" routerLinkActive="active" class="nav-link" >Stock List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-stocke" routerLinkActive="active" class="nav-link" >Add Stock</a>
        </li>
        <li class = "nav-item">
            <a routerLink="clientes" routerLinkActive="active" class="nav-link" >Client List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-cliente" routerLinkActive="active" class="nav-link" >Add Client</a>
        </li>
        <li class = "nav-item">
            <a routerLink="fournisseures" routerLinkActive="active" class="nav-link" >Fournisseur List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-fournisseure" routerLinkActive="active" class="nav-link" >Add Fournisseur</a>
        </li>
        <li class = "nav-item">
            <a routerLink="achates" routerLinkActive="active" class="nav-link" >Achat List</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-achate" routerLinkActive="active" class="nav-link" >Add Achat</a>
        </li>
        <li class = "nav-item">
            <a routerLink="ventees" routerLinkActive="active" class="nav-link" >Achat Vente</a>
        </li>
        <li class = "nav-item">
            <a routerLink="create-ventee" routerLinkActive="active" class="nav-link" >Add Vente</a>
        </li>
    </ul>
</nav>

<h1 class="text-center"> Gestion Stock </h1>
<div class = "container">
    <router-outlet></router-outlet>
</div>
<footer class = "footer">
    <div class = "container">
        <span>HARMOUCH YASSIN</span>
    </div>
</footer>
