<div class="col-md-6 offset-md-3">
    <h3> Create Produit </h3>
    <form>
    
        <div class="form-group">
            <label>  Name</label>
            <input type="text" class ="form-control" id = "name"
            [(ngModel)]="produite.name" name = "name">
        </div>
    
        <div class="form-group">
            <label> Code</label>
            <input type="text" class ="form-control"
            [(ngModel)]="produite.code"  name = "code" >
        </div>

        <div class="form-group">
            <label> Prix</label>
            <input type="text" class ="form-control"
            [(ngModel)]="produite.prix"  name = "prix">
        </div>
    
        <div class="form-group">
            <label> Qte</label>
            <input type="text" class ="form-control"
            [(ngModel)]="produite.qte"  name = "qte">
        </div>
    
        <div class="form-group">
            <label> Entropot</label>
            <select class="form-control" [(ngModel)]="produite.stock" name="stock">
                <option *ngFor="let item of stkes" [ngValue]="item">{{item.name}}</option>
            </select>
        </div>

        <button (click)="saveProduite()" class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 