<h2> Client List</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>  Date</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let achate of achates" >
            <td> {{ achate.date }} </td>
            <td>
                <button (click) = "updateAchate(achate.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteAchate(achate.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                <button (click) = "achateDetails(achate.id)" class = "btn btn-info" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody>
</table>
